services:
  fastapi:
    image: jeshuarocha/constantec_dev:latest
    container_name: constantec-dev
    ports:
      - "8000:8000"
    volumes:
      - ./constantec:/app
    environment:
      - DB_HOST=sqlserver
      - DB_PORT=1433
      - DB_USER=sa
      - DB_PASSWORD=YourStrong!Passw0rd
      - DB_NAME=constantec
      - PYTHONUNBUFFERED=1
  
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
volumes:
  sql_data: