services:
  fastapi:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.dev
    image: jeshuarocha/constantec_dev:latest
    container_name: constantec-dev
    ports:
      - "8000:8000"
    volumes:
      - ./api-constantec:/app
    environment:
      - DB_HOST=sqlserver
      - DB_PORT=1433
      - DB_USER=sa
      - DB_PASSWORD=YourStrong!Passw0rd
      - DB_NAME=constantec
      - PYTHONUNBUFFERED=1
      - FORWARDED_ALLOW_IPS=*
    depends_on:
      - sqlserver
  
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql-server
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  ngrok:
    image: ngrok/ngrok:latest
    container_name: constantec-ngrok
    restart: always
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTHTOKEN=33ogMhz8hgEPNKksyShXOfM4npW_5mtBQx18EGpuqo5etGX83
    command:
      - "http"
      - "constantec-dev:8000"
    depends_on:
      - fastapi
volumes:
  sql_data: