services:
  fastapi:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.dev
    image: jeshuarocha/constantec_dev:1.11.0
    container_name: constantec-dev
    ports:
      - "8000:8000"
    volumes:
      - ./api-constantec:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=constantec
      - PYTHONUNBUFFERED=1
      - FORWARDED_ALLOW_IPS=*
    depends_on:
      db:
        condition: service_healthy
  
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=constantec
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d constantec"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres_data: